@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    color: white;
    background-color: #020709;
    font-size: large;
}

.indicator {
    border:1px solid #456990;
    border-radius: 4px;
    background-color: #020709;
    height:100px;
    vertical-align:middle;
    margin:10px;
    width: 240px;
    /* display: inline-grid; */
    color: #fff;
}

.indicator .header{
    text-align: center;
    /* float: left; */
    font-size: 15px;
    background-color: #456990;
    border: 1px solid #456990;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.indicator .value{
    /* color: #2a3f5f; */
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.row {
    margin: 5px;
    margin-top: 10px;
}

/* Dropdown Menu controls */
.Select-control {
    background-color:#456990 !important;
    color:#fff !important;
    border: 1px solid #456990 !important;
  }

.Select-placeholder {
    color: rgb(209, 209, 209);
}
.Select-arrow {
    border-color: rgb(209, 209, 209) transparent transparent;
}

.is-open>.Select-control .Select-arrow {
    border-color: transparent transparent rgb(209, 209, 209);
}
.Select-arrow-zone:hover>.Select-arrow, .is-open .Select-arrow {
    border-top-color: rgb(209, 209, 209);
}

.Select-clear-zone {
    color: rgb(209, 209, 209);
}

.Select-value {
    color:#fff !important;
}
 
  
.Select--multi .Select-value {
    background-color:rgba(80, 187, 73, 0.685);
    border: 1px solid rgb(80, 187, 73);
    /* color:#275c3d !important; */
    margin-bottom: 5px !important;
}

.Select-value-label{
    color:#fff !important;
}

.Select--multi .Select-value .Select-value-label{
    color:#fff !important;
}

.Select--multi .Select-value-icon {
    border-right: 1px solid rgba(80,187,73,.24);
    /* color:#275c3d; */
}
.Select--multi .Select-value-icon:hover {
    color:#50bb49;
}

  .Select-menu-outer {
    background-color:#456990 !important;
    border:1px solid #456990 !important;
    border-top-color:#456990 !important
  }

.VirtualizedSelectFocusedOption {
    background-color: #50bb49;
}

  /* .Select-menu-outer.is-focused:hover {
    background-color:#50bb49 !important;
  }
  
  .Select-option.is-focused {
    background-color:#456990 !important;
    background-color:rgba(0,126,255,.08); 
    color:#fff !important;
  } */
  
  .is-open>.Select-control {
    background:#456990 !important;
    border-color:#456990 #456990 #456990 !important;
  }
  
  .is-searchable.is-focused:not(.is-open)>.Select-control,
  .is-searchable.is-open>.Select-control {
    cursor:text;
    background-color:#456990 !important;
  }
  
  .is-focused:not(.is-open)>.Select-control {
    border-color:#50bb49 !important;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 0 3px rgba(0,126,255,.1)
   }


/* Date Picker Control */
.DateRangePicker {
    background-color: #456990 !important;
    color: #fff;
}

.DateRangePickerInput {
    background-color: #456990 !important;
    color: #fff;
    border: 1px solid #456990;
    border-radius: 2px;
}

.DateRangePickerInput_arrow_svg {
    fill: #fff;
}

.DateInput {
    background-color:#456990;
    color: #fff;
}

.DateInput_input {
    background-color:#456990;
    color: #fff;
}

.DateInput_input__focused {
    background-color:#456990;
    color: #fff;
    border-bottom: 2px solid #112330;
}

.DayPicker_focusRegion {
    background-color:#456990;
    color: #fff;
}

.DayPicker_weekHeader {
    color: #d6d6d6;
}

.DayPickerNavigation {
    background-color:#456990;
    color: #fff;
}

.DateRangePicker_picker {
    background-color:#456990;
    color: #fff;
}

.DayPicker__horizontal {
    background-color:#456990;
    color: #fff;
}

.DayPicker_weekHeaders__horizontal {
    background-color:#456990;
    color: #fff;
}

.DayPicker_transitionContainer {
    background-color:#456990;
    color: #fff;
}

.CalendarMonthGrid {
    background-color:#456990 !important;
    color: #fff;
}

.CalendarMonthGrid_month__horizontal {
    background-color:#456990 !important;
    color: #fff;
}

.CalendarMonth {
    background-color:#456990 !important;
    color: #fff;
}

.CalendarMonth_caption {
    background-color:#456990 !important;
    color: #fff;
}

/* .CalendarMonth_table {
background-color:#456990 !important;
color: #fff;
} */

.CalendarDay__default {
    background-color:#456990;
    color: #fff;
}
.CalendarDay__default:hover {
    background-color:rgb(105, 248, 95);
    color: #fff;
}


/* .CalendarDay__highlighted_calendar {
background: #ffe8bc;
color: #484848
}
.CalendarDay__highlighted_calendar:active,
.CalendarDay__highlighted_calendar:hover {
background: #ffce71;
color: #484848
} */
.CalendarDay__selected_span {
    background: #50BB49;
    border: 1px double #50BB49;
    color: #fff
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
    background: rgb(105, 248, 95);
    border: 1px double rgb(105, 248, 95);
    color: #fff
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
    background: #50BB49;
    border: 1px double #50BB49;
    color: #fff
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
    background: #50BB49;
    border: 1px double #50BB49;
    color: #fff
}

.CalendarDay__hovered_span:active {
    background: rgba(80, 187, 73, 0.76);
    border: 1px double #50BB49;
    color: #fff
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-right: 33px solid #50BB49;
}

.DayPickerKeyboardShortcuts_panel {
    background-color:#456990;
}

.DayPickerNavigation_button__default {
    border: 1px solid #fff;
    background-color:#456990;
    color:#fff;
}

.DayPickerNavigation_svg__horizontal {
    fill: #fff;
}

/* Radio Items */
/* .radio-input {
    margin-right: 5px;
} */
input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}

/* input[type="checkbox"], input[type="radio"]:checked:after {
    background-color: #50BB49;
}

input[type="radio" i] {
    background-color: #50BB49;
} */

.tab-container {
    width: auto;
}

.tab-parent {
    border-top-left-radius: 3px;
    background-color: #020709;
    width: 100%;
}

.tab {
    color:#fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #020709 !important; 
    display: flex !important;
    align-items: left;
    justify-content: left;
    text-align: left !important;
}

.tab--selected {
    color: #fff !important;
    background-color: #456990 !important;
    display: flex !important;
    align-items: left !important;
    justify-content: left !important;
    text-align: left !important;
}

.tab-content {
    width: 100%;
}

.box{
    border:1px solid #456990;
    border-radius: 3px;
    vertical-align:middle;
    margin:10px;
    display: inline-grid;
    /* box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.521), -3px -3px 6px rgba(139, 139, 139, 0.349); */
}

.box-header {
    border-radius: 3px;
    background-color: #456990;
    text-align: center;
    color: '#fff';
    font-weight: bold;
    float: left;
    margin-top:0px;
    margin-bottom:1px;
    padding-bottom: 0px;
  }

.box-contents {
    display: inline-grid;
    text-align: center;
    font-weight: bold;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
}

.box-target {
    text-align: center;
    width:50%;
    font-weight: bold;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
}

.box-target-text {
    text-align: center;
    float: left;
    margin-top:4px;
    margin-bottom:1px;
}

.sub-tab{
    border-bottom:3px solid #456990 !important;
}  

.btn{
    border:1px solid #456990;
    border-radius: 4px;
    background-color: #456990;
    text-align: center;
    color: #fff !important;
    font-weight: bold;
    float: left;
    padding: 10px;
}
.btn:hover{
  background-color: #50BB49;
  color: #fff !important;
  text-decoration: none;
}

.svg-container{
    margin: auto !important;
}
