@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    color: white;
    background-color: #020709;
}

.dropdown {
    width: 330px;
    margin: 10px;
    display: inline-grid;
}

